{% extends 'base.html.twig' %}

{% form_theme formReservation 'bootstrap_4_layout.html.twig'  %}
{% block body %}


	<h1 class="text-center ">Réservez votre terrain en un seul clic !</h1>


	<div class="row">

		<div class="col-md-6 col-sm-12">
			<div class="col-md-12 card card-color ">
				<div class="card-content ">
					<h4 class="text-center">Bienvenue dans votre centre Z FOOT
					</h4>
					<p>La meilleure expérience de foot salle est désormais à portée de main. Location de terrain,tournoi, événement... Quel que soit votre profil, notre équipe vous accueille toute l'année dans des infrastructures haut-de-gamme pour vivre des émotions fortes sur et dehors des terrains !</p>
					<p>Veuillez remplir le formulaire pour éffectuer une réservation.<br>
						Veuillez vous présenter au centre Z FOOT 10minutes avant l'heure de votre réservation
					</p>
					<ul class="reservation-ul-margin">
						<li>- Tournoi encadré et arbitré</li>
						<li>- Cocktail premium d'après tournoi</li>
						<li>- Welcome pack avec maillots personnalisés</li>
					</ul>
				</div>
			</div>

		</div>
		<div class="col-md-6">
			<div class="col-md-12 card card-color ">
				<div class="card-content ">
					{{ form_start(formReservation) }}


					{{form_widget(formReservation) }}


					<button id="btn-resv" type="submit" class="btn btn-mdb-color">Réserver</button>
					{{ form_end(formReservation) }}

				</div>
			</div>
		</div>
	</div>
	

	{% if reservationPrise %}
		<div id="z" class="row">
			<div class="col s12 m6">
				<div class="card card-color ">
					<div class="card-content ">
						<h1>RESERVATION</h1>
						<p>
							Une reservation au nom de
							{{ reservation.nom }}
							{{ reservation.prenom }}
							a été effectuée pour le
							{{ reservation.dateReservation |date('Y/m/d') }}
							a
							{{ reservation.timeReservation |date('H:i') }}
						</p>
					</div>
				</div>
			</div>
		</div>


	{% endif %}

{% endblock %}
