{% extends 'base.html.twig' %}

{% form_theme formReservation 'bootstrap_4_layout.html.twig'  %}
{% block body %}

	<div class="container">

		<h3 class="card-title pt-2 ">
			<strong>Réservé votre terrain en UN clic !</strong>
		</h3>
		<p class="card-title-p">Venez découvrir nos 5 terrains de foot recouverts d'un gazon synthétique de toute dernière génération. ouvert 7j/7 et toute l'année de 10h à minuit. Que vous soyez sportif ou non, débutant ou expert, découvrez une équipe professionnelle attentive à vos attentes et à vos besoins.</p>

	</div>
	<div class="row">
		<div class="col s12 m6">
			<div class="card card-color ">
				<div class="card-content ">
					{{ form_start(formReservation) }}


					{{form_widget(formReservation) }}


					<button type="submit" class="btn btn-mdb-color">Réserver</button>
					{{ form_end(formReservation) }}

				</div>
			</div>
		</div>
	</div>


	{% if reservationPrise %}
		<div class="row">
			<div class="col s12 m6">
				<div class="card card-color ">
					<div class="card-content ">
						<h1>RESERVATION</h1>
						<p>
							Une reservation au nom de
							{{ reservation.nom }}
							{{ reservation.prenom }}
							a été effectuée pour le
							{{ reservation.dateReservation |date('Y/m/d') }}
							a
							{{ reservation.timeReservation |date('H:i') }}
						</p>
					</div>
				</div>
			</div>
		</div>


	{% endif %}


{% endblock %}
{% block javascripts %}{% endblock javascripts %}
